body {
    font-family: monospace;
}

.page-title {
    background-color: rosybrown;
    color: lightblue;
}

textarea {
    font-size: 15px;
    color: rgb(104, 161, 180);
    line-height: 5;
}

.hour {
    text-align: center;
}

.time-block {
    border-top: dotted rosybrown;
    line-height: 5;
}

.save-btn {
    color: rosybrown;
}

.past {
    background-color: #d3d3d3;
    color: black;
  }
  
  .present {
    background-color: rgb(236, 104, 104);
    color: black;
  }
  
  .future {
    background-color: #a4e7a4;
    color: black;
  }